*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    background-color: white;
}
.forget-sec{
    padding-top: 140px;
}

.forget-container{
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: center; 
    position: relative;
    width: 60%;
    margin: auto;
    background-image: linear-gradient(to right bottom , #dadada,#ffffff);
    box-shadow: 0 10px 15px rgba(0, 0,0, 0.25),
    0 10px 10px rgba(0, 0,0, 0.22);
    border-radius: 20px;
    padding: 50px;
    
}

.input-field{
    position: relative;
    height: 50px;
    width: 90%;
    margin-top: 15px;
}

.input-field input{
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 0 35px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
    border-radius: 20px;
}

.input-field input:is(:focus, :valid){
    border-bottom-color: #4070f4;
}

.input-field i{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 23px;
    transition: all 0.2s ease;
    padding:0 8px;
}

.input-field input:is(:focus, :valid) ~ i{
    color: #4070f4;
}

.input-field i.icon{
    left: 0;
}
.input-field i.showHidePw{
    right: 0;
    cursor: pointer;
    padding: 10px;
}


#reset-password{
    margin-top: 30px;
    text-align: center;
    font-size: 24px;
    color: white;
    width: 50%;
    padding: 15px;
    border: 0;
    outline: none;
    cursor: pointer;
    border-radius:5px 20px 5px 20px ;
    background: #2183a2;
    box-shadow: 0 10px 15px rgba(0, 0,0, 0.25),
    0 10px 10px rgba(0, 0,0, 0.22);
}
#reset-password:hover{
    box-shadow: 0 3px 15px rgba(0, 0,0, 0.25),
    0 3px 10px rgba(0, 0,0, 0.22);   
}




@media (max-width:855px) {

    #reset-password{
    font-size: 18px;
    padding: 10px;
    border-radius:3px 15px 3px 15px  ;
}

}

@media (max-width:680px){
    .forget-container{
        width: 90%;
    }
}

@media (max-width:450px){
    #reset-password{
        font-size: 14px;
        padding: 7px;
        border-radius:1px 7px 1px 7px  ;
    }

    .forget-container{
        padding: 20px;
    }
}

